.navigation-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color_text_button);
}

.navigation-link:visited {
  color: var(--color_text_button);
}

.navigation-link:hover {
  cursor: pointer;
  opacity: .8;
}

.navigation-link__icon {
  margin: 0;
  padding: 0;
  color: var(--color_text_button);
  width: 16px;
  height: 16px;
}

.navigation-link__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}